<app-header></app-header>
<app-menu></app-menu>
<h1>Guerra</h1>
    <p>
        La guerra dio inicio con claros signos de desigualdad. 
        El Imperio Qing todavía dependía de barcos de madera, armamento anticuado y una estructura militar fragmentada.<br>
        Los británicos, por su parte, disponían de barcos de vapor, artillería superior y marineros profesionales. 
        La ventaja tecnológica era tan grande que la guerra se inclinó desde el principio a favor del Reino Unido.<br>

        La flota británica estableció un bloqueo alrededor de Cantón y pronto extendió sus operaciones hacia el norte. Las ciudades costeras iban cayendo una tras otra: Xiamen, Ningbo, Fuzhou. Las defensas chinas, ineficientes y mal coordinadas, no podían hacer frente a la artillería y las maniobras de los británicos. 
        El golpe decisivo llegó en 1842, cuando las tropas británicas capturaron la estratégica ciudad de Zhenjiang, situada en la entrada del gran río Yangtsé. Con esa victoria, el camino hacia Nankín —una ciudad clave y centro político e histórico de China— quedó abierto. 
        Los líderes Qing comprendieron entonces que resistir significaba arriesgar la caída de aún más ciudades, quizás incluso un desastre nacional.
    </p>
    <img src="./assets/300_0_guerraopio2.jpg" width="450px" height="250px">


<app-footer></app-footer>