<app-header></app-header>
<app-menu></app-menu>

<h1>Conclucion de la Guerra</h1>
    <p>
        Sin alternativas reales, el gobierno imperial solicitó negociar. Ese mismo año se firmó el Tratado de Nankín, un documento que inauguró una era de humillación para China. 
        El tratado obligó a ceder la isla de Hong Kong al Reino Unido, abrir cinco puertos al comercio británico, pagar grandes indemnizaciones y permitir que los extranjeros operaran bajo condiciones ventajosas que limitaban la soberanía china. 
        Aunque el tratado no legalizaba el opio, sí debilitaba tanto a China que el tráfico continuó sin control.<br>
        La guerra terminó, pero su impacto fue profundo. Marcó la entrada forzosa de China en un mundo dominado por potencias industriales, abrió una larga serie de tratados desiguales y dejó al Imperio Qing gravemente debilitado. 
        El conflicto no solo reveló el atraso militar del país, sino que también desencadenó un período de crisis interna que transformaría para siempre la historia de China.
    </p>
    <img src="./assets/The_Signing_of_the_Treaty_of_Nanking.jpg" width="450px" height="250px">

<app-footer></app-footer>