.header-container {
  width: 100%;
  background-color: #1e88e5;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 0%;
}

.logo {
  color: white;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
