.navbar {
  background: linear-gradient(to right, #7b2ff7, #100125);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.Botom {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .Botom {
    display: block; 
  }

  ul {
    display: none;          
    position: absolute;
    top: 60px;
    right: 10px;
    background: #5a00e0;
    flex-direction: column;
    width: 180px;
    padding: 10px 0;
    border-radius: 8px;
  }

  ul.open {
    display: flex; 
  }

  li {
    padding: 12px 10px;
    text-align: center;
  }

  li a {
    display: block;
    width: 100%;
  }
}
