.menu-container {
  width: 100%;
  background-color: #5900ff;
  display: flex;
  justify-content: center;  
  gap: 40px;                 
  padding: 15px;
}

.menu-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;     
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-container a:hover { 
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  header {
    flex-direction: center;
    text-align: center;
  }
}



