<app-header></app-header>
<app-menu></app-menu>
    <h1>Segunda guerra</h1>
    <p>
        Al terminar la Primera Guerra del Opio, China quedó obligada a aceptar varios tratados desiguales, pero la tensión entre el Imperio Qing y las potencias occidentales no desapareció. 
        Reino Unido y Francia deseaban ampliar aún más su acceso al mercado chino y obtener privilegios que el tratado anterior no les había garantizado, como la legalización total del opio, la apertura de más puertos y la presencia diplomática en Pekín. <br>
        China, por su parte, resentía profundamente la humillación sufrida, buscaba recuperar algo de control y se mostraba inflexible ante nuevas exigencias extranjeras.<br>
        La situación era un polvorín, y solo hacía falta una chispa para encender un nuevo conflicto.<br>
        Esa chispa llegó en 1856 con el llamado Incidente del Arrow. El Arrow era un pequeño barco chino registrado bajo bandera británica para evadir controles. 
        Las autoridades chinas lo abordaron alegando contrabando y arrestaron a su tripulación. Aunque los hombres fueron liberados, los británicos afirmaron que la bandera británica había sido insultada y consideraron el incidente una violación del tratado anterior. 
        Fue una excusa perfecta para presionar militarmente y obtener concesiones que habían estado esperando.<br> 
        Reino Unido decidió actuar, y Francia se unió a la causa alegando la ejecución de un misionero francés en el sur de China.<br>
        Finalmente en 1860, con sus defensas rotas y la capital a merced de los invasores, China no tuvo más opción que firmar la Convención de Pekín.<br> 
        Las exigencias fueron duras: se confirmaba todo lo acordado en los Tratados de Tianjin, China debía pagar nuevas indemnizaciones enormes, se concedían territorios adicionales —incluido Kowloon al Reino Unido— y el comercio del opio quedaba, de facto, completamente legalizado. <br>
        Con ello, la Segunda Guerra del Opio llegaba a su fin, consolidando aún más el dominio occidental en territorio chino.
    </p>


    <img src="./assets/img-Mapa_final_1200.webp" width="450px" height="250px">


<app-footer></app-footer>
