html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #ffffff; /* o el color que quieras de fondo */
  margin: 10;
  padding: 10;
  height: 100%;

}
p {
    margin: 30px;
}
img {
  display: block;
  margin: auto;
}   
