html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  max-width: 900px;    
  width: 90%;
  margin: auto;
  padding: 30px;
  border-radius: 12px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin-top: 40px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin: 20px 0;
  padding-left: 2%;
  padding-right: 2%;

}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 8px;
}
