<app-header></app-header>
<app-menu></app-menu>
<h1>Antecedentes</h1>
    <p>
        Durante gran parte del siglo XVIII y comienzos del XIX, el Imperio Qing vivía relativamente aislado del mundo exterior. 
        China se consideraba el centro de la civilización, autosuficiente y orgullosa. 
        Europa, en cambio, estaba cada vez más interesada en sus productos: el té, la seda y la porcelana chinas se habían vuelto indispensables en Inglaterra. 
        Sin embargo, mientras los europeos querían desesperadamente mercancías chinas, los chinos no mostraban interés por prácticamente nada fabricado en Occidente. 
        Ese desequilibrio comercial causó un problema serio para Gran Bretaña: la plata británica fluía hacia China sin retorno, creando un déficit insostenible.<br>
        Para corregirlo, la respuesta británica fue vender algo que sí tenía demanda dentro de China: el opio. 
        Cultivado masivamente en la India bajo control británico, el opio comenzó a ingresar de manera a los puertos chinos.
        En un inicio de manera legal ya que se consideraba medicinal.
        A medida que pasaban los años, el consumo se extendió como una plaga social. 
        Apensar de prohibirlos tiempo de despues millones de chinos se volvieron adictos, mientras la economía padecía la enorme salida de plata que ahora huía del país a cambio de esa droga. 
        A la corrupción de funcionarios se sumó un deterioro social evidente, lo que alarmó profundamente al emperador Daoguang.<br>
        Decidido a detener aquella catástrofe, el emperador envió en 1839 a uno de sus funcionarios más incorruptibles: Lin Zexu. Su misión era clara: erradicar el comercio del opio. 
        Lin actuó con firmeza: cerró los depósitos extranjeros, exigió abandonar el tráfico y confiscó más de veinte mil cajas de opio pertenecientes a comerciantes británicos. 
        Todo aquel material fue destruido públicamente en Humen, un acto que, aunque celebrado por la población china, fue interpretado por el Reino Unido como un ataque directo a sus intereses comerciales y a la seguridad de sus súbditos.<br>
        La tensión aumentó rápidamente. El gobierno británico, bajo presión de comerciantes y políticos, decidió enviar una expedición militar para castigar a China y garantizar la apertura del comercio bajo condiciones británicas. <br>
        Comenzaba así la Primera Guerra del Opio.
    </p>
    <img src="./assets/1_031.jpg" width="450px" height="250px">

<app-footer></app-footer>